@import '../../styles/_palette.scss';
@import '../../styles/_variables.scss';

$cart-btn-width: 56px;
$cart-btn-height: 56px;

.Cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    &.is--opened {
        background-color: $white;
        box-shadow: -1px 0px 0px 0px $gray-500, 1px 0px 0px 0px $gray-500;
    }
}

.Cart-button {
    height: $cart-btn-height;
    width: $cart-btn-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: all 200ms ease-in-out;

    &:active,
    &:visited,
    &:focus {
        outline: none;
    }

    &:hover {
        filter: invert(61%) sepia(13%) saturate(38%) hue-rotate(317deg) brightness(85%) contrast(90%);
    }
}

.Cart-icon {
    width: 13px;
}

.Cart-counter {
    font-size: 12px;
    margin-left: 3px;
    font-weight: bold;
}

.Cart-dropdown {
    perspective: 1000px;
    animation: growOut 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
    top: $header-height;
    min-width: 200px;
    right: 0;
    z-index: -1;
    background-color: $white;
    position: absolute;

    &.is--visible {
        display: block;
    }
}

.Cart-dropdownBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 370px;

    &.is--empty {
        flex-direction: column;
        padding: 25px;
        min-width: 400px;
    }

    .Cart-dropdownRow {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .Cart-dropdown-emptyTitle {
        font-size: 14px;
        color: $green-100;
        text-transform: uppercase;
    }

    .Cart-dropdown-cartIcon {
        width: 32px;
        margin-bottom: 20px;
        filter: invert(52%) sepia(37%) saturate(649%) hue-rotate(60deg) brightness(93%) contrast(86%);
    }
}

.Cart-products {
    width: 100%;
}

@keyframes growOut {
    0% {
       transform: scale(0)
   }
   80% {
       transform: scale(1.1)
   }
   100% {
       transform: scale(1)
   }
}