@import '../../styles/_variables.scss';

.HomeView {
    position: relative;
    top: $header-height;
}

.HomeView-row {
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.HomeView-col {
    display: flex !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}