@import './theme.scss';
@import './palette.scss';

.Badge {
    background-color: $primary-color;
    padding: 0 5px;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    height: 22px;
    border: none;
    margin: 0 3px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: default;
    }
}

.Badge--dark {
    @extend .Badge;
    background-color: $accent-color;
    color: $gray-200;
}

.Badge--disabled {
    @extend .Badge;
    background-color: $gray-400;
    color: $gray-200;
}