@import './theme.scss';
@import './palette.scss';

.Button {
    background-color: $accent-color;
    padding: 0 10px;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border: none;
    margin: 0 3px;
    font-weight: bold;
    transition: all 200ms ease-in-out;

    &:active,
    &:visited,
    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $gray-300;
        color: $white;
    }
}

.Button--secondary {
    @extend .Button;
    color: $gray-200;
    border: 1px solid $gray-200;
    background-color: $gray-75;

    &:hover {
        color: $gray-200;
        background-color: $gray-50;
    }
}

.Button--small {
    @extend .Button;
    background-color: $accent-color;
    color: $gray-200;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.Button--textOnly {
    @extend .Button--small;
    background-color: transparent;
    color: $accent-color;

    &:hover {
        text-decoration: underline;
    }
}