@import './_theme.scss';
@import './_palette.scss';

.Text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: $primary-text;
}

.Text--14 {
    font-size: 14px;
}

.Text--bold {
    font-weight: bold;
}

.Text--secondary {
    @extend .Text;
    color: $gray-400;
}

.Text--uppercase {
    text-transform: uppercase;
}