@import '../../styles/_palette.scss';
@import '../../styles/_variables.scss';

.Header {
    height: $header-height;
    background-color: $gray-100;
}

.Header-logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.Header-logo {
    width: 40px;
    margin-left: 15px;
}
