@import '../../styles/_palette.scss';
@import '../../styles/_variables.scss';

.Header {
    height: $header-height;
    background-color: $gray-100;
}

.Header-logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.Header-logoBrand {
    margin-left: 15px;
}

.Header-logo {
    width: 40px;
}

@media screen and (max-width: 575px) {
    .Header {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .Header-logoBrand {
        margin-left: 0;
    }
}
