// Utility Styles
@import './styles/utils/u-position.scss';
@import './styles/utils/u-spacing.scss';

// Shared Component Styles
@import './styles/Button.scss';
@import './styles/Divider.scss';
@import './styles/Text.scss';
@import './styles/Badge.scss';
@import './styles/GameHighlight.scss';
@import './styles/Section.scss';

// Component Styles
@import './components/GameCard/GameCard.scss';
@import './components/Cart/Cart.scss';
@import './components/OverlayBackground/OverlayBackground.scss';
@import './components/CartItem/CartItem.scss';
@import './components/Header/Header.scss';
@import './components/BubbleEffect/BubbleEffect.scss';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
    min-height: 100%;
}