@import '../../styles/_palette.scss';

.BubbleEffect {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: -4px;
    -webkit-transition: color 0.7s;
    transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.BubbleEffect-circle {
    &:before,
    &:after {
        box-shadow: 0 0 0 2px $green-200;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -35px 0 0 -35px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        content: '';
        opacity: 0;
        pointer-events: none;
        -webkit-animation: anim-bubble-1 0.5s forwards;
        animation: anim-bubble-1 0.5s forwards;
    }

    &:after {
        -webkit-animation: anim-bubble-2 0.5s forwards;
        animation: anim-bubble-2 0.5s forwards;
    }
}

@keyframes anim-bubble-1 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1.1, 1.1, 1);
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes anim-bubble-2 {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	50%, 100% {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}