.OverlayBackground {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: $gray-300;
    transition: opacity 300ms, visibility 300ms;
    opacity: 0;
    visibility: hidden;

    &.is--visible {
        visibility: visible;
        opacity: 0.5;
    }
}